@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
html, body {
      margin: 100px 0 0 0;
      padding: 0;
      font-family: 'KOTRAHOPE';
      background-color:  rgb(255, 255, 247);
    }
    
    * {
      box-sizing: border-box;
    }

    .slider {
        width: 90%;
        margin: 100px auto;
    }

    p{
      font-size: 30px;
      color: #333;
    }
    .slick-slide {
      margin: 0px 20px;
    }

		.gallery{
			width: 96%;
			background:linear-gradient(rgb(238, 238, 246), rgb(255, 255, 247));
			margin:0 1%;
			text-align:center;
			border-radius:30px;
      cursor: pointer;
      padding: 20px 0 10px;
		}
		
		.gallery img{
			width: 80%;
			display:inline-block;
		}


    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }