*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
body {
    width: 80%;
	height: 100%;
    margin: auto;
	font-family: 'GoyangDeogyang';
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a{color:#000;}

div{
    margin: auto;
}

ul li img{
    width: 100%;
}