*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
body {
    width: 100%;
	height: 100%;
    margin: auto;
	font-family: 'GoyangDeogyang';
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a{color:#000;}

div{
    margin: auto;
}
img{
    display: inline-block;
}
ul{
    display: flex;
    flex-direction: row;
}
ul li img{
    width: 100%;
}